/*Color Swashes----------------------------------------------------------

INSERT COLOR SWASHES HERE

*/

/* body background color------------------------------------------------- */
body {
	background-color: #302f2f;
	width: 100%;
	background-image: url("../images/BG_03.jpg");
	color: black;
}

h1 {
	font-size:2em;
	position: absolute;
	left: -999999px
}

#home {
	float: left;
}

/* Main Menu and Navigation---------------------------------------------- */

#menu {
	background-color: black;
	color: white;
	clear: both;
	margin: 2.6041667%;
	overflow: hidden;
}

#donate {
	float: right;
}

/* Main Navigation Styles--------------------------------------------------*/

nav a:link {
	background: none;
	border-style: none;
	color: white;
}
nav a:visited {
	color: white;
}
nav a:hover {
	text-decoration: underline overline;
	color: silver;
}
nav {
	clear: both;
	margin: 2.6041667%;
	overflow: hidden;
}
nav li {
	width: 20.833333%; /* 200px */
	background: #000;
	opacity: 0.8;
	float: left;
	padding: 1.0416667%; /* 10px */
	border-style: outset;
	border-width: 2px;
	border-color: #fff;
	font-family: 'Marcellus SC', serif;
	list-style-type:none;
	
}


/* Call to Action------------------------------------------------------------*/

#cta {
	background-color: black;
	color: white;
}


/* Responsive Design------------------------------------------------------------*/
/*Tablet Portrait size to standard 960 */
@media screen and (min-width: 768px) and (max-width: 959px){

	h1 {
		font-size: 1.5em;
	}
	aside {
		width: 40%;
	}
	
	span img {
		width: 22%;
	}
}
/*Mobile Landscape Size to Tablet Portrait */
@media screen and (min-width: 480px) and (max-width: 767px) {
	article {
	column-count: 2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	}

	span img {
		width: 20%;
	}

	aside {
		float: none;
		width: 100%;
	}
}
/*Mobile Portait Size to Mobile Landscape Size */
@media screen and (max-width: 479px) {

#button {
	display: none;
	}
article {
		column-count: 1;
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
	}
aside {
		float: none;
		width: 100%;
	}
	nav {
		margin: auto;
	}
	nav li {
		float: none;
		width: 80%;
	}
	span {
		display: none;
	}
}
/*Mobile Portrait Size*/
@media screen and (max-width: 320px) {

	#home {
		display: none;
	}
	h1 {
		position: static;
		font-size: 1em;
		text-align:center
	}
}