/*Color Swashes----------------------------------------------------------

INSERT COLOR SWASHES HERE

*/

/* body background color------------------------------------------------- */
body {
	background-color: #302f2f;
	width: 100%;
	background-image: url("../images/BG_03.jpg");
	color: black;
}

/* Wrapper---------------------------------------------------------------*/

#wrapper {
	width: 940px;
    margin: 0 auto;
}

/* Banner----------------------------------------------------------------*/

#banner {
	background-color: black;
	background-image: url("../images/bannerBG_03.png");
	min-height:90px; 
	max-height:91px;
	min-width: 100%;
}

h1 {
	font-size:2em;
	position: absolute;
	left: -999999px
}

h2 {
	font-family: 'Marcellus SC', serif;
}

#home {
	float: left;
}

/* Main Menu and Navigation---------------------------------------------- */

#menu {
	background-color: black;
	
	margin: auto;
}


/* New Nav-------------------------------------------------------------------*/

#nav, #nav ul { /* all lists */
	padding: 5px;
	margin: auto;
	list-style: none;
	line-height: 1;
	text-align: center;
}



#nav li { /* all list items */
	display: inline;
	float: left;
	width: 9em; 
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0;
}

#nav a {
	display: inline-block;
	background-color: black
	width: 9em;
	vertical-align: middle;
	text-decoration:none;
	color: white;
	font-family: 'Marcellus SC', serif;

}

#nav li ul { /* second-level lists */

	position: absolute;
	background: red;
	width: 9em;
	left: -999em;
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#nav li ul a:hover {
	background-color: black;
}

/* Content----------------------------------------------------------------------*/

#con {
	clear: left;
	padding: 0px;
	padding-top: 15px;
	background-color: grey; 
	min-height:500px; 
	min-width: 80%;
	
}


#CTA {
	margin: 0;
	max-width: 613px;
	float: left;
	background: white;
	min-height: 500px;
}

#sidebar {
	margin: 0;
	max-width: 307px;
	float: right;
	background: white;
	min-height: 500px;
}


/* Site Map--------------------------------------------------------------------*/

#sitemap {
	clear: both;
	background-color: black;
	color: white;
	min-height:125px; 
	min-width: 100%;
}


/* Responsive Design------------------------------------------------------------