/*Color Swashes----------------------------------------------------------

Dark Blue: #000033
Blue: #000066
Light Yellow: #FFFFCC

*/

/* body background color------------------------------------------------- */
body {
	background-color: #302f2f;
	width: 100%;
	background-image: url("../images/BG_03.jpg");
	color: black;
}

/* Wrapper---------------------------------------------------------------*/

#wrapper {
	width: 960px;
    margin: 0 auto;
}

/* Banner----------------------------------------------------------------*/

#banner {
	background-color: #000033;
	min-height:90px; 
	max-height:91px;
	min-width: 100%;
}

h1 {
	font-size:2em;
	position: absolute;
	left: -999999px
}

h2 {
	font-family: 'Marcellus SC', serif;
}

#home {
	float: left;
}

/* Main Menu and Navigation---------------------------------------------- */

#menu {
	background-color: #000066;
	
	margin: auto;
}


/* New Nav-------------------------------------------------------------------*/

#nav, #nav ul { /* all lists */
	padding: 5px;
	margin: auto;
	list-style: none;
	line-height: 1;
	text-align: center;
}



#nav li { /* all list items */
	display: inline;
	float: left;
	width: 9em; 
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0;
}

#nav a {
	display: inline-block;
	background-color: black
	width: 9em;
	vertical-align: middle;
	text-decoration:none;
	color: white;
	font-family: 'Marcellus SC', serif;

}

#nav li ul { /* second-level lists */

	position: absolute;
	background: #000033;
	width: 9em;
	left: -999em;
}

#nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#nav li ul a:hover {
	background-color: black;
}

/* Content----------------------------------------------------------------------*/

#con {
	clear: left;
	padding: 0px;
	padding-top: 15px;
	background-color: #000066; 
	min-height:520px; 
	min-width: 80%;
	
}


#CTA {
	margin: 0;
	padding: 10px;
	max-width: 613px;
	float: left;
	background: #FFFFCC;
	min-height: 500px;
}

#sidebar {
	margin: 0;
	padding: 5px;
	max-width: 307px;
	float: right;
	background: #FFFFCC;
	min-height: 500px;
}

#sidebar h2 {
	text-align: center;
}

#sidebar img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

/*request a prayer styles--------------------------*/

#form1 {
	margin: 0;
	padding: 5px;
	min-width: 95%;
	background-color: #FFFFCC;
	min-height: 500px;
}

#prayer {
	float: left;
	margin-bottom: 20px;
}

#request {
	max-width: 50%;
	max-height: 120px;
	float: left;
	padding-left: 10px;
	margin-bottom: 20px;
	
}

#input {
	display: block;
	clear: both;
	float: left;
	line-height: 2em;
	max-width: 450px;
	min-width: 449px;

}

#box {
	display: block;
	margin-right: 0;
	float: left;
	max-width: 40%;
	padding-left: 10px;

}

/* history page styles--------------------------------*/

#history {
	clear: left;
	padding: 5px;
	padding-top: 15px;
	background-color: #FFFFCC; 
	min-height:500px; 
	min-width: 80%;
	
}

/* Site Map--------------------------------------------------------------------*/

#sitemap {
	clear: both;
	background-color: #000033;
	color: white;
	min-height:25px; 
	min-width: 100%;
}


/* Responsive Design------------------------------------------------------------

/*Tablet Portrait size to standard 960 */
@media screen and (min-width: 768px) and (max-width: 959px){

/* Home Screen---------------------------*/	

	body {
	background-color: #000066;
	width: 100%;
	background-image: none;
}

	#CTA {
		max-width: 60%;
	}
	#ctaimage {
    width:60%;
    height: auto;
	}
		
	#sidebar {
		max-width: 30%;
	}
	#wrapper {
		width: 100%;
    	margin: 0 auto;
	}
	
	#nav li {
		width: 7em;
	}
	#nav a {
		width: 7em;
	}
	#nav li ul {
		width: 7em;
	}

/* Form Screen---------------------------*/


#form1 {

	margin: 0;
	padding: 5px;
	min-width: 95%;
	background-color: #FFFFCC;
	min-height: 500px;
	font-size: 12px;
}

#prayer {
	width: 47%;
	height: 90%;
	float: left;
	margin-bottom: 10px;
}

#request {
	max-width: 50%;
	max-height: 50px;
	float: left;
	padding-left: 5px;
	margin-bottom: 10px;
	
}

#input {
	display: block;
	clear: both;
	float: none;
	line-height: 2em;
	max-width: 450px;
	min-width: 449px;

}

#box {
	float: none;
	max-width: 40%;
	padding-left: 10px;

}

/* History Screen---------------------------*/
	#history {
	font-size: 12px;
	
}
}
/*Mobile Landscape Size to Tablet Portrait */
@media screen and (min-width: 480px) and (max-width: 767px) {
	
/* Home Screen---------------------------*/	
	
	body {
		font-size: 12px;
		background-color: #000066;
		width: 100%;
		background-image: none;
	}
	
	#CTA {
		max-width: 45%;
	}
	#ctaimage {
    width:60%;
    height: auto;
	}
		
	#sidebar {
		max-width: 45%;
	}
	#wrapper {
		width: 100%;
    	margin: 0 auto;
	}
	
	#nav li {
		width: 6em;
	}
	#nav a {
		width: 6em;
	}
	#nav li ul {
		width: 6em;
	}
/* Form Screen---------------------------*/

#form1 {

	margin: 0;
	padding: 5px;
	min-width: 95%;
	background-color: #FFFFCC;
	min-height: 500px;
}

#prayer {
	display: none;
}

#request {
	max-width: 50%;
	max-height: 50px;
	float: none;
	padding-left: 5px;
	margin-bottom: 10px;
	
}

#input {
	display: block;
	clear: both;
	float: none;
	line-height: 2em;
	max-width: 450px;
	min-width: 449px;

}

#box {
	float: none;
	max-width: 40%;
	padding-left: 10px;

}

/* History Screen---------------------------*/	
	
	#history {
		padding: 2px;
		padding-top: 2px;
}
	
	
	
}
/*Mobile Portait Size to Mobile Landscape Size */
@media screen and (max-width: 479px) {

/* Home Screen---------------------------*/	

	body {
		font-size: 12px;
		background-color: #000066;
		width: 100%;
		background-image: none;
	}
	
	#CTA {
		max-width: 45%;
	}
	#ctaimage {
   display: none;
	}
		
	#sidebar {
		max-width: 45%;
	}
	#wrapper {
		width: 100%;
    	margin: 0 auto;
	}
	#sidebar img {
	display: none;
}

#sitemap {
	font-size: 16px;
}

/* Form Screen---------------------------*/

#form1 {

	margin: 0;
	padding: 5px;
	min-width: 95%;
	background-color: #FFFFCC;
	min-height: 500px;
}

#prayer {
	display: none;
}

#request {
	max-width: 50%;
	max-height: 50px;
	float: none;
	padding-left: 5px;
	margin-bottom: 10px;
	
}

#input {
	display: block;
	clear: both;
	float: none;
	line-height: 2em;
	max-width: 450px;
	min-width: 449px;

}

#box {
	float: none;
	max-width: 40%;
	padding-left: 10px;

}

/* History Screen---------------------------*/

	#history {
		padding: 2px;
		padding-top: 2px;
}

#history img {
	display: none;
}

}
